.Con {
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  margin-bottom: 100px;
  z-index: 0;
  position: relative;
}

.Img {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.Overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: inherit;
  width: 100%;
  background-color: rgb(0, 128, 0, 0.3);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Overlay h1 {
  font-size: 80px;
  font-weight: 300;
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 340px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .Overlay h1 {
    font-size: 50px;
    font-weight: 300;
  }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  .Overlay h1 {
    font-size: 50px;
    font-weight: 300;
  }
}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 411px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 4) {
  .Overlay h1 {
    font-size: 40px;
    font-weight: 300;
    padding: 10px;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .Overlay h1 {
    font-size: 50px;
    font-weight: 300;
    padding: 10px;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .Overlay h1 {
    font-size: 60px;
    font-weight: 300;
    padding: 10px;
  }
}
