.Border {
    padding: 0;
    height: auto;
    border: 2px solid green;
}

.BorderTwo {
    padding: 0;
    height: auto;
    border: 2px solid white;
    padding: 10px;
}

.ConTop {
    height: 300px;
    position: relative;
}

.Vid {
    width: 100%;
    height: 300px;
    padding-bottom: 56.25%;
    position: relative;
}

.Vid iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.TextOne {
    margin-top: 100px;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

.TextOne h2 {
    font-size: 80px;
}

.Col {
    text-align: center;
    margin-top: 50px;
}

.TextTwo {
    height: auto;
    font-size: 50px;
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .TextTwo {
        margin-top: 200px;
    }
}


/* ----------- Google Pixel ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 411px) and (device-height: 823px) and (-webkit-device-pixel-ratio: 4) {
    .BorderTwo {
        margin-top: 500px;
    }
    .TextTwo {
        position: relative;
        top: 400px;
    }
}