.Img {
  width: 100%;
  min-height: 100%;
}

.Con {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.Con h1 {
  color: #fff;
  font-size: 80px;
  margin-bottom: 50px;
}

.Col {
  margin-bottom: 50px;
}

.Wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.Background {
  margin: 0;
  padding: 0;
  background-color: green;
  margin-bottom: 100px;
}
