.Con {
  margin-bottom: 100px;
  margin-top   : 100px;
  text-align   : center;
}

.scrolling-wrapper-flexbox {
  display   : flex;
  flex-wrap : nowrap;
  overflow-x: auto;
}

.Img {
  height: 200px;
  width : 200px;
  flex  : 0 0 auto;
}

.Col {
  width : 300px;
  height: 300px;
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .Con {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  .Col {
    width: 100%;
  }
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
  .Con {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  .Col {
    width: 100%;
  }
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .Con {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
  }

  .Col {
    width: 100%;
  }
}