.Footer {}

.Footer span {
    font-size: 30px;
}

.Col h5 {
    padding-top: 10px;
    text-transform: uppercase;
}

.Footer a:hover {
    color: green;
}

.FooterLogo {
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.U {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 0;
}

.Col {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .U {
        padding-left: 5px;
    }
    .Col h5 {
        padding-left: 5px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    .U {
        padding-left: 5px;
    }
    .Col h5 {
        padding-left: 5px;
    }
}

.Social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.IconOne {
    padding: 10px;
    color: #14a1f9 !important;
}

.IconTwo {
    padding: 10px;
    color: #d63948 !important;
}


/* 
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .Col {
        
        
    }



}

.Col {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}

.Copy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.U{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.U li{
    display: block;
}

*/